{% set title = "Центральный аппарат" %}

{% extends "main.tpl" %}

{% block content %}


<section id="apparat">
	<div class="small_banner">
		<div class="bg_shape"></div>
		<div class="medium_container flex_row_beet_cen">
			<div class="content" data-aos="fade-right" data-aos-delay="300">
				<h2>Центральный аппарат</h2>
				<a href="index.html">Главная страница</a><span>Центральный аппарат</span>
			</div>
		</div>
	</div>
	
	<div class="medium_container">
		<div class="main_container flex_row ">
			<div class="left_block">
				<div class="block">

					<div class="passport flex_row__start">
						<img src="../media/img/person2.png" alt="" class="person">
						<div class="info flex_col">
							<span class="name">Абдукаюмов Абдурауф Абдурашидович</span>
							<span class="position">Начальник управления стандартизации и координации государственного надзора</span>
							<div class="flex_row_beet_cen">
								<div class="phone flex_col__start">
									<div class="icon flex_col"><img src="../media/img/svg/phone.svg" alt=""><span>Телефон:</span></div>
									<span class="f_s">(71) 202-00-11</span>
								</div>
								<div class="reception flex_col__start">
									<div class="icon  flex_col"><img src="../media/img/svg/priyom.svg" alt=""><span>Приемные дни:</span></div>
									<span class="f_s">Вт. Чг. с 08-00 до 11-00</span>
								</div>
								<div class="mail flex_col__start">
									<div class="icon  flex_col"><img src="../media/img/svg/mail.svg" alt=""><span>Электронная почта:</span></div>
									<span class="f_s">uzst@standart.uz</span>
								</div>
							</div>
						</div>
					</div>

					<div class="tab1">
						<div class="tab-nav flex_row">
							<a href="#" data-tab="tab-1">Должностные обязанности</a>
							<a href="#" data-tab="tab-2">Биография</a>
						</div>

						<div class="tab-content">
							<div class="tab-pane" id="tab-1">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolores rerum, aliquid culpa est, fuga ea laboriosam in soluta odit! Eaque id, quos architecto cupiditate temporibus, sapiente molestias cumque distinctio ab vitae repellendus, nam! Laboriosam inventore nulla impedit ut aut!
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis amet quas maxime assumenda eum deserunt. Culpa itaque molestiae obcaecati laborum, animi, ea, commodi, velit quo accusamus tempora veritatis officia. Ipsum, ratione, architecto! Dolores minus, ullam laborum sit iusto fugiat unde aperiam nam vel aliquid, at animi, odit. Error neque dolor, eius consequatur voluptatem, excepturi?
								ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora, ullam impedit officiis quisquam illo laudantium minus, totam est maxime. Distinctio mollitia minima voluptatibus, iste fugiat itaque dignissimos consequuntur ipsam facere cum tenetur nostrum obcaecati voluptas blanditiis velit? Maiores repellat deleniti dolores quisquam facere blanditiis explicabo itaque libero pariatur! Sunt.
								Lorem ipsum dolor sit amet, cons
							</div>
							<div class="tab-pane" id="tab-2">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora, ullam impedit officiis quisquam illo laudantium minus, totam est maxime. Distinctio mollitia minima voluptatibus, iste fugiat itaque dignissimos consequuntur ipsam facere cum tenetur nostrum obcaecati voluptas blanditiis velit? Maiores repellat deleniti dolores quisquam facere blanditiis explicabo itaque libero pariatur! Sunt.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis amet quas maxime assumenda eum deserunt. Culpa itaque molestiae obcaecati laborum, animi, ea, commodi, velit quo accusamus tempora veritatis officia. Ipsum, ratione, architecto! Dolores minus, ullam laborum sit iusto fugiat unde aperiam nam vel aliquid, at animi, odit. Error neque dolor, eius consequatur voluptatem, excepturi?
							</div>
						</div>
					</div>
				</div>

				<div class="block">

					<div class="passport flex_row__start">
						<img src="../media/img/person2.png" alt="" class="person">
						<div class="info flex_col">
							<span class="name">Абдукаюмов Абдурауф Абдурашидович</span>
							<span class="position">Начальник управления стандартизации и координации государственного надзора</span>
							<div class="flex_row_beet_cen">
								<div class="phone flex_col__start">
									<div class="icon flex_col"><img src="../media/img/svg/phone.svg" alt=""><span>Телефон:</span></div>
									<span class="f_s">(71) 202-00-11</span>
								</div>
								<div class="reception flex_col__start">
									<div class="icon  flex_col"><img src="../media/img/svg/priyom.svg" alt=""><span>Приемные дни:</span></div>
									<span class="f_s">Вт. Чг. с 08-00 до 11-00</span>
								</div>
								<div class="mail flex_col__start">
									<div class="icon  flex_col"><img src="../media/img/svg/mail.svg" alt=""><span>Электронная почта:</span></div>
									<span class="f_s">uzst@standart.uz</span>
								</div>
							</div>
						</div>
					</div>

					<div class="tab2">
						<div class="tab-nav flex_row">
							<a href="#" data-tab="tab-3">Должностные обязанности</a>
							<a href="#" data-tab="tab-4">Биография</a>
						</div>

						<div class="tab-content">
							<div class="tab-pane" id="tab-3">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolores rerum, aliquid culpa est, fuga ea laboriosam in soluta odit! Eaque id, quos architecto cupiditate temporibus, sapiente molestias cumque distinctio ab vitae repellendus, nam! Laboriosam inventore nulla impedit ut aut!
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis amet quas maxime assumenda eum deserunt. Culpa itaque molestiae obcaecati laborum, animi, ea, commodi, velit quo accusamus tempora veritatis officia. Ipsum, ratione, architecto! Dolores minus, ullam laborum sit iusto fugiat unde aperiam nam vel aliquid, at animi, odit. Error neque dolor, eius consequatur voluptatem, excepturi?
								ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora, ullam impedit officiis quisquam illo laudantium minus, totam est maxime. Distinctio mollitia minima voluptatibus, iste fugiat itaque dignissimos consequuntur ipsam facere cum tenetur nostrum obcaecati voluptas blanditiis velit? Maiores repellat deleniti dolores quisquam facere blanditiis explicabo itaque libero pariatur! Sunt.
								Lorem ipsum dolor sit amet, cons
							</div>
							<div class="tab-pane" id="tab-4">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora, ullam impedit officiis quisquam illo laudantium minus, totam est maxime. Distinctio mollitia minima voluptatibus, iste fugiat itaque dignissimos consequuntur ipsam facere cum tenetur nostrum obcaecati voluptas blanditiis velit? Maiores repellat deleniti dolores quisquam facere blanditiis explicabo itaque libero pariatur! Sunt.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis amet quas maxime assumenda eum deserunt. Culpa itaque molestiae obcaecati laborum, animi, ea, commodi, velit quo accusamus tempora veritatis officia. Ipsum, ratione, architecto! Dolores minus, ullam laborum sit iusto fugiat unde aperiam nam vel aliquid, at animi, odit. Error neque dolor, eius consequatur voluptatem, excepturi?
							</div>
						</div>
					</div>
				</div>

				<div class="block">

					<div class="passport flex_row__start">
						<img src="../media/img/person2.png" alt="" class="person">
						<div class="info flex_col">
							<span class="name">Абдукаюмов Абдурауф Абдурашидович</span>
							<span class="position">Начальник управления стандартизации и координации государственного надзора</span>
							<div class="flex_row_beet_cen">
								<div class="phone flex_col__start">
									<div class="icon flex_col"><img src="../media/img/svg/phone.svg" alt=""><span>Телефон:</span></div>
									<span class="f_s">(71) 202-00-11</span>
								</div>
								<div class="reception flex_col__start">
									<div class="icon  flex_col"><img src="../media/img/svg/priyom.svg" alt=""><span>Приемные дни:</span></div>
									<span class="f_s">Вт. Чг. с 08-00 до 11-00</span>
								</div>
								<div class="mail flex_col__start">
									<div class="icon  flex_col"><img src="../media/img/svg/mail.svg" alt=""><span>Электронная почта:</span></div>
									<span class="f_s">uzst@standart.uz</span>
								</div>
							</div>
						</div>
					</div>

					<div class="tab2">
						<div class="tab-nav flex_row">
							<a href="#" data-tab="tab-5">Должностные обязанности</a>
							<a href="#" data-tab="tab-6">Биография</a>
						</div>

						<div class="tab-content">
							<div class="tab-pane" id="tab-5">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolores rerum, aliquid culpa est, fuga ea laboriosam in soluta odit! Eaque id, quos architecto cupiditate temporibus, sapiente molestias cumque distinctio ab vitae repellendus, nam! Laboriosam inventore nulla impedit ut aut!
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis amet quas maxime assumenda eum deserunt. Culpa itaque molestiae obcaecati laborum, animi, ea, commodi, velit quo accusamus tempora veritatis officia. Ipsum, ratione, architecto! Dolores minus, ullam laborum sit iusto fugiat unde aperiam nam vel aliquid, at animi, odit. Error neque dolor, eius consequatur voluptatem, excepturi?
								ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora, ullam impedit officiis quisquam illo laudantium minus, totam est maxime. Distinctio mollitia minima voluptatibus, iste fugiat itaque dignissimos consequuntur ipsam facere cum tenetur nostrum obcaecati voluptas blanditiis velit? Maiores repellat deleniti dolores quisquam facere blanditiis explicabo itaque libero pariatur! Sunt.
								Lorem ipsum dolor sit amet, cons
							</div>
							<div class="tab-pane" id="tab-6">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora, ullam impedit officiis quisquam illo laudantium minus, totam est maxime. Distinctio mollitia minima voluptatibus, iste fugiat itaque dignissimos consequuntur ipsam facere cum tenetur nostrum obcaecati voluptas blanditiis velit? Maiores repellat deleniti dolores quisquam facere blanditiis explicabo itaque libero pariatur! Sunt.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis amet quas maxime assumenda eum deserunt. Culpa itaque molestiae obcaecati laborum, animi, ea, commodi, velit quo accusamus tempora veritatis officia. Ipsum, ratione, architecto! Dolores minus, ullam laborum sit iusto fugiat unde aperiam nam vel aliquid, at animi, odit. Error neque dolor, eius consequatur voluptatem, excepturi?
							</div>
						</div>
					</div>
				</div>

				<div class="block">

					<div class="passport flex_row__start">
						<img src="../media/img/person2.png" alt="" class="person">
						<div class="info flex_col">
							<span class="name">Абдукаюмов Абдурауф Абдурашидович</span>
							<span class="position">Начальник управления стандартизации и координации государственного надзора</span>
							<div class="flex_row_beet_cen">
								<div class="phone flex_col__start">
									<div class="icon flex_col"><img src="../media/img/svg/phone.svg" alt=""><span>Телефон:</span></div>
									<span class="f_s">(71) 202-00-11</span>
								</div>
								<div class="reception flex_col__start">
									<div class="icon  flex_col"><img src="../media/img/svg/priyom.svg" alt=""><span>Приемные дни:</span></div>
									<span class="f_s">Вт. Чг. с 08-00 до 11-00</span>
								</div>
								<div class="mail flex_col__start">
									<div class="icon  flex_col"><img src="../media/img/svg/mail.svg" alt=""><span>Электронная почта:</span></div>
									<span class="f_s">uzst@standart.uz</span>
								</div>
							</div>
						</div>
					</div>

					<div class="tab2">
						<div class="tab-nav flex_row">
							<a href="#" data-tab="tab-7">Должностные обязанности</a>
							<a href="#" data-tab="tab-8">Биография</a>
						</div>

						<div class="tab-content">
							<div class="tab-pane" id="tab-7">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolores rerum, aliquid culpa est, fuga ea laboriosam in soluta odit! Eaque id, quos architecto cupiditate temporibus, sapiente molestias cumque distinctio ab vitae repellendus, nam! Laboriosam inventore nulla impedit ut aut!
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis amet quas maxime assumenda eum deserunt. Culpa itaque molestiae obcaecati laborum, animi, ea, commodi, velit quo accusamus tempora veritatis officia. Ipsum, ratione, architecto! Dolores minus, ullam laborum sit iusto fugiat unde aperiam nam vel aliquid, at animi, odit. Error neque dolor, eius consequatur voluptatem, excepturi?
								ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora, ullam impedit officiis quisquam illo laudantium minus, totam est maxime. Distinctio mollitia minima voluptatibus, iste fugiat itaque dignissimos consequuntur ipsam facere cum tenetur nostrum obcaecati voluptas blanditiis velit? Maiores repellat deleniti dolores quisquam facere blanditiis explicabo itaque libero pariatur! Sunt.
								Lorem ipsum dolor sit amet, cons
							</div>
							<div class="tab-pane" id="tab-8">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tempora, ullam impedit officiis quisquam illo laudantium minus, totam est maxime. Distinctio mollitia minima voluptatibus, iste fugiat itaque dignissimos consequuntur ipsam facere cum tenetur nostrum obcaecati voluptas blanditiis velit? Maiores repellat deleniti dolores quisquam facere blanditiis explicabo itaque libero pariatur! Sunt.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nobis amet quas maxime assumenda eum deserunt. Culpa itaque molestiae obcaecati laborum, animi, ea, commodi, velit quo accusamus tempora veritatis officia. Ipsum, ratione, architecto! Dolores minus, ullam laborum sit iusto fugiat unde aperiam nam vel aliquid, at animi, odit. Error neque dolor, eius consequatur voluptatem, excepturi?
							</div>
						</div>
					</div>
				</div>


				<div class="flex_row_cen adv_banner_block">
					<div class="adv_banner ph"><img src="../media/img/reklama1.png" alt=""></div>
					<div class="adv_banner ph"><img src="../media/img/reklama2.png" alt=""></div>

					<div class="social_survey ph">
						<h6>СОЦОПРОС</h6>
						<p>Оставьте свое мнения об электронных услугах агентство &laquoУзстандарт&raquo </p>
						<form action="">
						  <label class="flex_row__cen item">
						  	<input type="radio" name="questItem" value=""><span class="bb"></span> Отличный
						  </label>
						  <label class="flex_row__cen item">
						  	<input type="radio" name="questItem" value=""><span class="bb"></span> Хороший
						  </label>
						  <label class="flex_row__cen item">
						  	<input type="radio" name="questItem" value=""><span class="bb"></span> Ужасный
						  </label>
						  <label class="flex_row__cen item">
						  	<input type="radio" name="questItem" value=""><span class="bb"></span> Можно улучшить
						  </label>
						</form>
						<button type="button" class="vote">Голосовать</button>
						<span class="down_up"><img src="../media/img/svg/down_up.svg" alt=""></span>
					</div>
				</div>
			</div>

			<div class="right_block">
				<div class="category flex_col_start" data-aos="fade-up" data-aos-delay="300">
					<a href="#">Пресс-релиз</a>
					<a href="#">Анонсы и тендеры</a>
					<a href="#">Видео галерея</a>
					<a href="#">Фото галерея</a>
					<a href="#" class="active">Новости</a>
					<a href="#">Публикации</a>
					<a href="#">Аккредитация</a>
					<a href="#">представителей СМИ</a>
					<a href="#">Аналитические данные</a>
					<a href="#">Показатели отрасли</a>
				</div>

				
				<div class="adv_banner desk" data-aos="fade-up" data-aos-delay="300"><img src="../media/img/reklama3.png" alt=""></div>
				<div class="adv_banner desk" data-aos="fade-up" data-aos-delay="300"><img src="../media/img/reklama2.png" alt=""></div>

				<div class="social_survey desk" data-aos="fade-up" data-aos-delay="300">
					<h6>СОЦОПРОС</h6>
					<p>Оставьте свое мнения об электронных услугах агентство &laquoУзстандарт&raquo </p>
					<form action="">
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Отличный
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Хороший
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Ужасный
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Можно улучшить
					  </label>
					</form>
					<button type="button" class="vote">Голосовать</button>
					<span class="down_up"><img src="../media/img/svg/down_up.svg" alt=""></span>
				</div>

			</div>
		</div>
	</div>

</section>










{% endblock %}