{% set title = "Index" %}

{% extends "main.tpl" %}

{% block content %}


<section id="news_single" class="shablon2_news">
	<div class="small_banner">
		<div class="bg_shape"></div>
		<div class="medium_container flex_row_beet_cen">
			<div class="content" data-aos="fade-right" data-aos-delay="200">
				<h2>В законодательной палате Олий Мажлиса образован Комитет по вопросам охраны здоровья граждан</h2>
				<a href="index.html">Главная страница</a><span>Новости</span>
			</div>
		</div>
	</div>
	
	<div class="medium_container">
		<div class="main_container block flex_row ">
			<div class="left_block">
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae eveniet, repellendus minus voluptatibus ea numquam minima quas obcaecati, deserunt voluptas suscipit iste earum quidem aut officiis itaque dolorum eaque id. Earum, maiores repellendus soluta voluptates nobis reprehenderit, quas ex ut laborum, ullam ad sunt rem quasi. Quis saepe molestiae delectus eaque rem beatae quam voluptatum inventore ut, aperiam cupiditate quos hic, mollitia officiis explicabo voluptates omnis minus deleniti laudantium repudiandae maxime illum nulla veritatis! Deserunt eius sit, quis vel repellat?!</p>
				</div>

				<div class="main_img flex_col_cen"><img src="../media/img/sliderBanner1.png" alt=""></div>
				<div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quidem deserunt quia libero id ipsum suscipit, fugiat ea officia modi natus maxime, fuga eveniet nam consequuntur rerum impedit porro? Rerum, delectus! Sed soluta unde omnis quis ut ipsum, nostrum reiciendis!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi esse harum quae. Porro dolor tempore laudantium consequatur odio fuga enim totam nulla iste modi reiciendis, repudiandae dolores suscipit, amet, id placeat, nihil. Minima doloremque sapiente hic sed ipsam quaerat, expedita blanditiis debitis, qui nihil aliquam maiores consequuntur cupiditate molestias obcaecati. Expedita sunt maxime ipsum cupiditate in cumque itaque, culpa vitae.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ea illo velit obcaecati enim, sequi, molestiae tempora mollitia consectetur quisquam ullam nam, maxime rem nulla quam, sunt! Libero vero in omnis rerum at dolores voluptatum quibusdam voluptatibus, delectus eligendi autem quia quisquam! Delectus hic, sit totam, dolorum ullam perferendis deleniti!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus iusto voluptate, quia deserunt harum ullam, assumenda fugiat, id praesentium, nemo voluptatum earum odit incidunt. At sint vitae est, consequuntur explicabo veniam temporibus consequatur ipsa expedita magnam repellat consectetur illum, obcaecati ducimus repudiandae, necessitatibus totam aliquid ipsam ea magni, eveniet nostrum mollitia illo reiciendis accusamus. Soluta dolore obcaecati, adipisci quis minima nemo nostrum error impedit, culpa quo molestias architecto optio labore sed voluptatum pariatur dolor maxime tempora, rerum dolorum cumque. Obcaecati.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto eius nisi, fuga natus ipsa ratione, exercitationem sapiente culpa sed delectus odit molestiae veniam facilis obcaecati voluptatum est! Quisquam, id, dolor!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis cumque ullam asperiores dolorem, porro, nihil ipsa placeat! Tenetur repellendus commodi dolorem neque, consequatur iusto amet quae reprehenderit sint eligendi eos officia, suscipit ea similique nulla sunt, quasi accusantium maxime atque! Quidem obcaecati quis similique perferendis tempore earum sit illo, aspernatur.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi esse harum quae. Porro dolor tempore laudantium consequatur odio fuga enim totam nulla iste modi reiciendis, repudiandae dolores suscipit, amet, id placeat, nihil. Minima doloremque sapiente hic sed ipsam quaerat, expedita blanditiis debitis, qui nihil aliquam maiores consequuntur cupiditate molestias obcaecati. Expedita sunt maxime ipsum cupiditate in cumque itaque, culpa vitae.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi esse harum quae. Porro dolor tempore laudantium consequatur odio fuga enim totam nulla iste modi reiciendis, repudiandae dolores suscipit, amet, id placeat, nihil. Minima doloremque sapiente hic sed ipsam quaerat, expedita blanditiis debitis, qui nihil aliquam maiores consequuntur cupiditate molestias obcaecati. Expedita sunt maxime ipsum cupiditate in cumque itaque, culpa vitae.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ea illo velit obcaecati enim, sequi, molestiae tempora mollitia consectetur quisquam ullam nam, maxime rem nulla quam, sunt! Libero vero in omnis rerum at dolores voluptatum quibusdam voluptatibus, delectus eligendi autem quia quisquam! Delectus hic, sit totam, dolorum ullam perferendis deleniti!</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus iusto voluptate, quia deserunt harum ullam, assumenda fugiat, id praesentium, nemo voluptatum earum odit incidunt. At sint vitae est, consequuntur explicabo veniam temporibus consequatur ipsa expedita magnam repellat consectetur illum, obcaecati ducimus repudiandae, necessitatibus totam aliquid ipsam ea magni, eveniet nostrum mollitia illo reiciendis accusamus. Soluta dolore obcaecati, adipisci quis minima nemo nostrum error impedit, culpa quo molestias architecto optio labore sed voluptatum pariatur dolor maxime tempora, rerum dolorum cumque. Obcaecati.</p>
				</div>
				<p class="text_r">Информационная служба Законодательной палаты Олий Мажлиса Республики Узбекистан</p>

				<div class="flex_row_beet_cen">
					<div class="flex_row">
						<div class="news_time flex_row__cen">
							<img src="../media/img/svg/clock.svg" alt="">
							<span>02 Май 2018</span>
						</div>
						<span class="view"><img src="../media/img/svg/eye.svg" alt="">2000</span>
					</div>
					<div class="flex_row"> 
						<a href="#" class="read_more"><div class="share"><img src="../media/img/svg/share.svg" alt=""><span>Поделитесь с друзями:</span></div></a>
						<a href="#" class="read_more"><div class="print"><img src="../media/img/svg/print.svg" alt=""><span>Распечатать</span></div></a>
					</div>
				</div>
				

				<div class="flex_row_cen adv_banner_block">
					<div class="adv_banner ph"><img src="../media/img/reklama1.png" alt=""></div>
					<div class="adv_banner ph"><img src="../media/img/reklama2.png" alt=""></div>
				</div>


				<div class="rating flex_row_beet_cen">
					<h5>Ваше отношение</h5>
					<div class="item flex_col_cen best">
						<img src="../media/img/svg/sticker5.svg" alt="">
						<button type="button">Отлично</button>
						<span>190</span>
					</div>
					<div class="item flex_col_cen">
						<img src="../media/img/svg/sticker4.svg" alt="">
						<button type="button">Интересно</button>
						<span>300</span>
					</div>
					<div class="item flex_col_cen">
						<img src="../media/img/svg/sticker2.svg" alt="">
						<button type="button">Скучный</button>
						<span>1</span>
					</div>
				</div>

				<div id="news">
					<h3>Тематические материалы</h3>
					<div class="floor2 flex_row flex_wrap">

						<div class="item">
							<div class="shadow_box flex_col_cen">
								<img src="../media/img/news1.png" alt="" class="circle">
								<div class="content flex_col">
									<a href="#">В соответствии с Инвестиционной программой Республики Узбекистан на 2016 год</a>
									<div class="news_time flex_row__cen">
										<img src="../media/img/svg/clock.svg" alt="">
										<span>02 Май 2018</span>
									</div>
								</div>
							</div>
						</div>


						<div class="item">
							<div class="shadow_box flex_col_cen">
								<img src="../media/img/news1.png" alt="" class="circle">
								<div class="content flex_col">
									<a href="#">В соответствии с Инвестиционной программой Республики Узбекистан на 2016 год</a>
									<div class="news_time flex_row__cen">
										<img src="../media/img/svg/clock.svg" alt="">
										<span>02 Май 2018</span>
									</div>
								</div>
							</div>
						</div>


						<div class="item">
							<div class="shadow_box flex_col_cen">
								<img src="../media/img/news1.png" alt="" class="circle">
								<div class="content flex_col">
									<a href="#">В соответствии с Инвестиционной программой Республики Узбекистан на 2016 год</a>
									<div class="news_time flex_row__cen">
										<img src="../media/img/svg/clock.svg" alt="">
										<span>02 Май 2018</span>
									</div>
								</div>
							</div>
						</div>


						<div class="item">
							<div class="shadow_box flex_col_cen">
								<img src="../media/img/news1.png" alt="" class="circle">
								<div class="content flex_col">
									<a href="#">В соответствии с Инвестиционной программой Республики Узбекистан на 2016 год</a>
									<div class="news_time flex_row__cen">
										<img src="../media/img/svg/clock.svg" alt="">
										<span>02 Май 2018</span>
									</div>
								</div>
							</div>
						</div>


						<div class="item">
							<div class="shadow_box flex_col_cen">
								<img src="../media/img/news1.png" alt="" class="circle">
								<div class="content flex_col">
									<a href="#">В соответствии с Инвестиционной программой Республики Узбекистан на 2016 год</a>
									<div class="news_time flex_row__cen">
										<img src="../media/img/svg/clock.svg" alt="">
										<span>02 Май 2018</span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="shadow_box flex_col_cen">
								<img src="../media/img/news1.png" alt="" class="circle">
								<div class="content flex_col">
									<a href="#">В соответствии с Инвестиционной программой Республики Узбекистан на 2016 год</a>
									<div class="news_time flex_row__cen">
										<img src="../media/img/svg/clock.svg" alt="">
										<span>02 Май 2018</span>
									</div>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="shadow_box flex_col_cen">
								<img src="../media/img/news1.png" alt="" class="circle">
								<div class="content flex_col">
									<a href="#">В соответствии с Инвестиционной программой Республики Узбекистан на 2016 год</a>
									<div class="news_time flex_row__cen">
										<img src="../media/img/svg/clock.svg" alt="">
										<span>02 Май 2018</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="social_survey ph">
					<h6>СОЦОПРОС</h6>
					<p>Оставьте свое мнения об электронных услугах агентство &laquoУзстандарт&raquo </p>
					<form action="">
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Отличный
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Хороший
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Ужасный
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Можно улучшить
					  </label>
					</form>
					<button type="button" class="vote">Голосовать</button>
					<span class="down_up"><img src="../media/img/svg/down_up.svg" alt=""></span>
				</div>

			</div>

			<div class="right_block">
				<div class="category flex_col_start" data-aos="fade-up" data-aos-delay="200">
					<a href="#">Пресс-релиз</a>
					<a href="#">Анонсы и тендеры</a>
					<a href="#">Видео галерея</a>
					<a href="#">Фото галерея</a>
					<a href="#" class="active">Новости</a>
					<a href="#">Публикации</a>
					<a href="#">Аккредитация</a>
					<a href="#">представителей СМИ</a>
					<a href="#">Аналитические данные</a>
					<a href="#">Показатели отрасли</a>
				</div>

				<div class="adv_banner desk" data-aos="fade-up" data-aos-delay="200"><img src="../media/img/reklama1.png" alt=""></div>
				<div class="adv_banner desk" data-aos="fade-up" data-aos-delay="200"><img src="../media/img/reklama2.png" alt=""></div>

				<div class="social_survey desk" data-aos="fade-up" data-aos-delay="200">
					<h6>СОЦОПРОС</h6>
					<p>Оставьте свое мнения об электронных услугах агентство &laquoУзстандарт&raquo </p>
					<form action="">
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Отличный
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Хороший
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Ужасный
					  </label>
					  <label class="flex_row__cen item">
					  	<input type="radio" name="questItem" value=""><span class="bb"></span> Можно улучшить
					  </label>
					</form>
					<button type="button" class="vote">Голосовать</button>
					<span class="down_up"><img src="../media/img/svg/down_up.svg" alt=""></span>
				</div>
			</div>
		</div>
	</div>

</section>










{% endblock %}